.modal-body {
    padding: 0;
}

@media (min-width: 768px) {
    .modal-dialog {
        width: 642px;
    }
}
.modal {
    /*position: absolute;*/

}
.container {
    width: 170px;
    height: 170px;
    padding-top: 10px;
    display: inline-block;
}

#button {
    width: 100%;
    text-align: center;
}

#load {
    background: #2980b9;
    display: inline-block;
    width: 50%;
    color: #2c3e50;
}

#load:hover {
    opacity: 0.5;
}

body {
    background: #ecf0f1;
}

